.copyright {
    padding-block: 50px;
}

.copyright__header {
    font-size: 21px;
    margin: 0;
    padding-bottom: 20px;
}

.copyright__sign {
    font-size: 13px;
    font-weight: 300;
}